disk.img
*.o
kernel.elf
*.d
*.bin
*/onlyhlt/onlyhlt
*/rpn/rpn
*/large/large
*/winhello/winhello
*/stars/stars
*/lines/lines
*/eye/eye
*/paint/paint
*/fault/fault
*/timer/timer
*/readfile/readfile
*/grep/grep
*/cp/cp
*/dpage/dpage

a.out
mnt/